@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:rgb(163, 116, 85);
    --secondary-color:rgb(172, 169, 165);
}
body{
    background-color: var(--primary-color);
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-window .h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .search-btn{
    outline: 0;
    border: 0;
    height: 35px;
    padding: 0 0.5rem;
 }

 .search-text{
    outline: 0;
    border: 0;
    /* width: 350px; */
    height: 36px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
 }
 .home{
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border-radius: 50px;
    box-sizing: 75%;
    font-family: Comic Sans MS;
    font-size: 35px;
    outline: none;
    transition: .5s; 
    align-items: center;
    justify-content: center;
 }
 .home-btn{
    position: relative;
    font-size: 26px;
    transition: .5s;
    border-radius: 20px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
 }

 