@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:rgb(128, 103, 219);
    --secondary-color:rgb(254, 254, 254);
}
body{
    background-color: var(--primary-color);
}
code {
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 75.5%;
}
